.header {
  background-color: var(--main-dark-color);
  color: #fff;
  width: 100%;
  .container {
    justify-content: space-between;
    gap: 40px;
  }
  * {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
  }
}

.header__logo {
  font-family: 'Forum', serif;
  font-size: 30px;
  letter-spacing: 0.6px;
  line-height: 50px;
  color: inherit;
  font-weight: 400;
  margin-block-end: 0;
  margin-block-start: 0;
}
@media screen and (max-width: 450px) {
  .header__logo {
    font-size: 19px;
    line-height: 30px;
  }
}

.header__list {
  display: flex;
  place-items: center;
  gap: 30px;
  position: relative;
  margin-left: auto;
  margin-block-start: 0;
  margin-block-end: 0;
}

.header__item * {
  color: inherit;
  font-size: 20px;
  line-height: 50px;
  letter-spacing: 1px;
}

.header__profile {
  display: flex;
  place-content: center;
}