@font-face {
  font-family: 'Forum';
  src: url('./assets/fonts/Forum/Forum-Regular.ttf');
}
@font-face {
  font-family: 'Inter', sans-serif, sans-serif;
  src: url('./assets/fonts/Inter/Inter-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Inter', sans-serif, sans-serif;
  src: url('./assets/fonts/Inter/Inter-Bold.ttf');
  font-weight: 700;
}

:root {
  --main-dark-color: #0C0C0E;
  --main-beige-color: #BB945F;
  --main-grey-color: #8E8E8E;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: #000;
  text-decoration: none;
  transition: all 0.5s;
  &:hover {
    color: var(--main-beige-color);
    transform: scale(1.05);
  }
}

body {
  display: flex;
  width: 100vw;
  margin: 0;
  * {
    margin: 0;
  }
}

#root {
  width: inherit;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  padding: 20px;
}

button {
  width: 75px;
  height: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid var(--main-dark-color);
  color: var(--main-dark-color);
  text-align: center;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  &:disabled {
    border-color: var(--main-beige-color);
    color: var(--main-beige-color);
    cursor: not-allowed;
  }
}
@media (hover: hover) {
  button:hover{
    border-color: var(--main-beige-color);
    background-color: var(--main-beige-color);
    transition: all 0.3s;
  }
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

ul {
  list-style: none;
}

.section-heading {
  width: fit-content;
  margin: 0 auto;
  color: var(--main-dark-color);
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: center;
  text-transform: capitalize;
  &::after {
    content: '';
    display: block;
    transform: translate(50%, 20px);
    width: 50px;
    height: 1px;
    background-color: var(--main-dark-color);
  }
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
